body{
	padding: 0;
	margin: 0;
}
.container{
	max-width: 1024px;
	min-height: 300px;
	display: flex;
	justify-content:center;
	align-items:center;
}
.clearfix{
	clear: both;
}

.input{
	width: 80px;
	height: 40px;
	background-color: #ccc;
	border-radius: 25px;
	position: relative;
	transition: all .2s ease-in;
	cursor: pointer;

	&.on{
		background-color: #18CEA0;
		transition:all .2s ease-in;
	}

	&:before{
		content: "off";
		font-family: 'Roboto';
		position: absolute;
		top:-6px;
		width: 50px;
		height: 50px;
		background-color: #e0e0e0;
		border-radius: 50%;
		border: 1px solid #ccc;
		box-shadow: 0px 1px 4px #ccc;
		transition: all .2s ease-in;
		color: #bbb;
		display: flex;
		justify-content:center;
		align-items:center;
		line-height: 1;
		font-size: 1.2em;
	}

	&.on:before{
		content: "on";
		font-family: 'Roboto';
		transform: translateX(30px);
		transition: all .2s ease-in;
		background-color: #1DE9B6;
		border: 1px solid #1DE9B6;
		box-shadow: 0px 1px 4px #ccc;
		color: #fff;
		line-height: 1;
	}
}

// Square input button
	.input-square{
		background-color: #ccc;
		width: 80px;
		height: 40px;
		border-radius: 3px;
		position: relative;
		cursor: pointer;
		margin-left: 20px;

		&.on{
			background-color: #18CEA0;
			transition: all .3s ease-in;
		}

		&:before{
			content: "off";
			position: absolute;
			width: 45px;
			height: 45px;
			top: -4px;
			display: flex;
			justify-content:center;
			align-items:center;
			font-family: 'Roboto';
			color:#bbb;
			background-color: #e0e0e0;
			border: 1px solid #ccc;
			border-radius: 3px;
			box-shadow: 0px 1px 4px #ccc;
			transition: all .3s ease-in;
		}

		&.on:before{
			content: "on";
			transform: translateX(33px);
			transition: all .3s ease-in;
			background-color: #1DE9B6;
			border: 1px solid #1DE9B6;
			color: #fff;
		}
	}

// input rounded inside
	.input-rounded-inside{
		width: 60px;
		height: 40px;
		border-radius: 25px;
		background-color: #ccc;
		margin-left: 20px;
		position: relative;
		cursor: pointer;

		&.on{
			background-color: #18CEA0;
			transition: all .3s ease-in;
		}

		&:before{
			content:"off";
			position: absolute;
			top:1px;
			left:0px;
			width: 36px;
			height: 36px;
			border-radius: 50%;
			background-color: #e0e0e0;
			border: 1px solid #ccc;
			display: flex;
			justify-content:center;
			align-items:center;
			font-family: 'Roboto';
			color: #bbb;
			box-shadow: 0px 1px 4px #ccc;
			transition: all .3s ease-in;
		}

		&.on:before{
			content: "on";
			color:#fff;
			background-color: #1DE9B6;
			border: 1px solid #1DE9B6;
			transform: translateX(21px);
			transition: all .3s ease-in;
		}
	}